<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MiniFrame Bakery</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico|Crimson+Text' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="public/css/styles.css" />
  </head>
  <body>
    <nav class="top-nav">
      <a href="/"><div class="logo"></div></a>
      <p><a href="/bakeries">Bake up some resources!</a></p>
    </nav>
    <main>
      <%= yield_content %>
    </main>
  </body>
</html>
