body, div, p, section, h1, h2, h3, h4, nav, ul, li {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #008B8B;
  text-decoration: none;
  -webkit-transition: color 0.5s;
  cursor: pointer;
}

a:hover {
  color: #00008B;
}

body {
  background-image: url('/public/images/background.jpeg');
  background-attachment: fixed;
  background-size: cover;
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  top: 0;
  right: 0;
  left: 0;
  padding-right: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid black;
  display: flex;
  position: fixed;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-y: hidden;
}

nav p {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav p a {
  margin: 0 10px;
}

p, h1, h2, h3, h4 {
  margin: 20px 0;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
}

h1, h2, h3, h4 {
  text-align: center;
}



.logo {
  background-image: url('/public/images/text-only-logo.png');
  height: 90px;
  width: 200px;
  background-size: contain;
  background-repeat: no-repeat;
}

main {
  background-color: rgba(255, 255, 255, 0.7);
  margin: 50px;
  padding: 35px;
  width: 80%;
  min-width: 500px;
}

.active-record-features, .mini-frame-features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.active-record-features img, .mini-frame-features img {
  width: 500px;
}

.logo-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.tasty-features {
  max-width: 800px;
  margin: 20px auto;
}

.feature-box {
  max-width: 800px;
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.feature-box div {
  width: 250px;
  height: 250px;
  background-color: grey;
  display: flex;
  align-items: flex-end;
  background-size: cover;
  margin: 15px 0;
}

.feature-box div > p {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.9);
  margin: 0;
  text-align: center;
  width: 100%;
  color: white;
}

.new-bakery {
  text-align: center;
}

.show-page, .new-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* forms */

.delete-form {
  display: inline;
}

.form-holder {
  width: 80%;
}

.dessert-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-holder input {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  margin: 10px;
}

input[type=submit], .show-nav {
  border: 2px solid black;
  background-color: grey;
  cursor: pointer;
  font-size: 20px;
  display: inline;
  margin: 10px;
  padding: 10px;
}

.show-nav a {
  color: black;
}

.notice {
  color: green;
  font-size: 20px;
}

.errors {
  color: red;
  font-size: 20px;
}
