<div class="logo-holder">
  <img src="/public/images/full-logo.png">
</div>

<section class="main-features">
  <p>
    Welcome to Miniframe! Miniframe is a tiny framework built as an exploration of the Ruby on Rails framework. Read on to discover how Miniframe works, or <a href="/bakeries">test Miniframe out for yourself</a>!

  </p>
  <p>
    Miniframe was built by <a href="http://brookeangel.github.io/" target="_blank">Brooke Angel</a> as a school project at App Academy.
  </p>
  <h2>Features</h2>
  <ul class="tasty-features">
    <li>Serves up resources with Rack server</li>
    <li>Utilizes a PSQL ORM styled after ActiveRecord</li>
    <li>Implements MVC Architecture</li>
    <li>Contains a router for baking up custom routes with ease</li>
    <li>Uses homemade middleware cooked on Rack Builder</li>
  </ul>

  <div class="feature-box">
    <a href="/bakeries">
      <div style="background-image: url('http://d3rsl50p8hwbdu.cloudfront.net/web_large_3344.jpg')">
        <p>See what can be baked up with MiniFrame</p>
      </div>
    </a>
    <a href="/miniframe_orm">
      <div style="background-image: url('public/images/searchable.png')">
        <p>Learn more about Miniframe ORM</p>
      </div>
    </a>
    <a href="/miniframe">
      <div style="background-image: url('public/images/flash-i.png')">
        <p>Take a tour of the Miniframe Framework</p>
      </div>
    </a>
  </div>
</section>
