<div class="logo-holder">
  <img src="/public/images/full-logo.png">
  <figcaption>A home-baked framework in the style of Rails.</figcaption>
</div>

<section class="main-features">
  Welcome to Miniframe! Miniframe is a tiny framework built as an exploration of the Ruby on Rails framework. Read on to discover how Miniframe works, or <a href="/bakeries">test Miniframe out for yourself</a>!

  <h2>Tasty Features</h2>
  <ul class="tasty-features">
    <li>Serves up resources with Rack server</li>
    <li>Utilizes a Sqlite3 ORM styled after Rails's ActiveRecord</li>
    <li>Implements MVC Architecture</li>
    <li>Contains a router for baking up custom routes with ease</li>
    <li>Uses homemade middleware cooked on Rack Builder</li>
  </ul>

  Interested in seeing MiniFrame in action? Good news - you're already looking at it!

  <ul>
    <li><a href="/bakeries">See what can be baked up with MiniFrame</a></li>
    <li><a href="/miniframe_orm">Learn more about Miniframe ORM</a></li>
    <li><a href="/miniframe">Take a tour of the Miniframe Framework</a></li>
  </ul>
</section>
