<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <%= error %>
  <% end %>
<% end %>

<h1>New Bakery Form</h1>

<form action="/bakeries" method="POST">
  <label>Super Secret Auth Token
    <input type="text" name="form_authenticity_token" value="<%= auth_token %>">
  </label>

  <label>Name
    <input type="text" name="bakery[name]" value="<%= @bakery.name %>">
  </label>

  <label>Location
    <input type="text" name="bakery[location]" value="<%= @bakery.location %>">
  </label>

  <input type="submit">
</form>
